<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>20120922</string>
	<key>DownloadURLReg</key>
	<string>http://www.macxdvd.com/free-youtube-video-downloader-mac</string>
	<key>DownloadURLUnReg</key>
	<string>http://www.macxdvd.com/free-youtube-video-downloader-mac</string>
	<key>LastestVersion</key>
	<string>3.0.0</string>
	<key>NotificationContent</key>
	<string>The xml file locate in github</string>
	<key>NotificationTitle</key>
	<string>App Test Update Check</string>
	<key>NotificationURL</key>
	<string>http://www.google.com.hk</string>
	<key>ProductName</key>
	<string>MacX DVD Video Converter Ultimate</string>
	<key>UpdateLog</key>
	<string>fix bug</string>
</dict>
</plist>
